.image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  width: auto;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;

  &--1,
  &--2 {
    z-index: 5;
  }
  &--3,
  &--4 {
    z-index: 2;
  }  
}