.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  
  @media (max-width: $mobile) {
    align-items: center;
  }

  &__paragraph {
    font-family: 'nyt-cheltenham';
    font-size: 1.9375rem;
    line-height: 2.325rem;
    letter-spacing: .006rem;
    font-weight: 300;

    @media (max-width: $mobile-small) {
      font-size: 2.875em;
      line-height: 1.725rem;
    }
  }

  &__line {
    display: block;
  }
}
