.opener {
  width: 44em;
  margin: 12.5rem auto;
  padding: 3rem 3rem 2rem;
}
.opener__rubric {
  font-family: 'NYTCheltenhamBold';
  font-size: 1.5em;
  line-height: 1.5rem;
}
.opener__hed {
  font-family: 'NYTCheltenhamDisplay-Demi';
  margin: 2em auto 1.5rem;
}
.opener__dek {
  font-family: 'NYTCheltenhamBook';
  font-size: 3em;
  line-height: 1.75rem;
  margin: 1.5em auto;
}
