.lockup__rubric {
  font-family: 'nyt-cheltenham';
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: 0.0625rem;
  color: #c1c1c1;
}
.lockup__hed {
  font-family: 'nyt-cheltenham-display';
  font-size: 7.42vw;
  line-height: 9.65vw;
  letter-spacing: 2.42vw;
  font-weight: 500;
  text-transform: uppercase;
  margin: 3.125rem 0 0;
  color: #c3c3c3;
  &-word {
    display: block;
  }
}
.lockup__dek {
  font-family: 'nyt-cheltenham';
  font-size: 1.9375rem;
  font-weight: 300;
  line-height: 2.325rem;
  letter-spacing: .006rem;
  color: #eaeaea;
  max-width: 28.75rem;
  margin: 0;
  padding: 0 0 3.1875rem;
}
