@import 'core/index';
@import 'article/intro';
@import 'article/lockup';
@import 'article/images';

.article {
  &__column {
    position: relative;
    overflow: hidden;
    @media (max-width: $mobile) {
      width: 100vw;
      height: 100vh;
    }
  }

  &__copy {
    position: relative;
    z-index: 10;
    height: 100vh;
    mix-blend-mode: luminosity;
    @media (max-width: $mobile) {
      padding-left: 0;
      margin: 0 auto;
    }
    @media (max-width: $mobile-small) {
      max-width: 300px;
    }
  }

  &__images {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: $mobile) {
      display: block;
    }
  }
}

.scroller {
  display: block;
  height: 100vh;
}