@import 'core/index';
@import 'article/intro';
@import 'article/lockup';
@import 'article/images';

.article {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  overflow: hidden;

  &__copy {
    position: relative;
    padding-left: 14.84%;
    z-index: 10;
    height: 100vh;
    mix-blend-mode: luminosity;
  }

  &__column {
    position: relative;
  }
}


